/* 
    Base configurations
    ----------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root{
    --swatch_1: #eff0f2;
    --swatch_2: #b2b9c9;
    --swatch_3: #11100e;
    --swatch_4: #b4c7d8;
    --swatch_5: #545954;
    --swatch_6: #611311;
    --swatch_7: #837269;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Partie de gauche */
#left{
    color: var(--swatch_3);
    width: fit-content;
    padding: 20px;
    background-color: var(--swatch_1);
    float: left;
}

.profil{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.photo-profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.photo-profil img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.mini-circle{
    width: 8px;
    height: 8px;
    background-color: crimson;
    border-radius: 50%;
    position: absolute;
}

.profil-info{
    display: flex;
    justify-content: space-around;
}

.prg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prg1{
    font-size: 14px;
}

.prg2{
    font-size: 11px;
    color: var(--swatch_2);
}

.menu{
    border-bottom: 1px solid var(--swatch_2);
    padding: 10px 0;
}

.menu ul{
    list-style-type: none;
}

.menu li{
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: var(--swatch_3);
    font-size: 15px;
    font-weight: bold;
}

.menu1{
    border-top: 1px solid var(--swatch_2);
}

.sp-red{
    font-weight: bold;
    color: crimson;
}

.menu3{
    border: none;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 45px;
	height: 18px;
	background: crimson;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: -4px;
	left: -1px;
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: gray;
}

input:checked + label:after {
	left: calc(100% - 0px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}

.footer-left{
    font-weight: bold;
}

.check p{
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

.check-ft{
    padding-top: 250px;
}

.check-prg1{
    padding-bottom: 50px;
    font-size: 15px;
}

.check-prg2{
    color: var(--swatch_2);
    font-size: 13px;
}

/* Partie centrale */
.header{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--swatch_4);
}

.bar-form{
    margin: 0 auto;
    display: flex;
    padding: 3px 8px 3px 16px;
    border: 1px solid var(--swatch_2);
    border-radius: 50px;
}

.bar-form input{
    width: 300px;
    border: none;
    outline: none;
}

.bar-form input::-webkit-input-placeholder{
    font-style: italic;
    color: var(--swatch_4);
}

.icons{
    margin-right: 20px;
}

.icons a{
    padding: 0px 10px;
}

.section{
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--swatch_4);
}

.content1{
    display: flex;
    border-bottom: 1px solid var(--swatch_4);
}

.content1-part span{
    margin-left: 15px;
}

.part1{
    padding-top: 25px;
    padding-right: 10px;
}

.part1 p{
    padding: 5px 0px;
    font-size: 14px;
    font-weight: bold;
}

.part1-boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.part-box{
    width: 150px;
}

.part-box img{
    width: 150px;
    height: 100px;
}

.part-box p{
    font-size: 10px;
}

.part2{
    width: min-content;
}

.part2 img{
    width: 400px;
}

.content2{
    padding: 30px;
}

article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 50px;
}

.article-box{
    width: fit-content;
}

.art-img{
    width: 200px;
    height: 100px;
}

.art-img img{
    width: 250px;
    height: 150px;
}

.user img{
    border-radius: 50px;
    border: 3px solid var(--swatch_1);
    margin-top: 15px;
    margin-left: 180px;
}

.art{
    margin-left: 30px;
    margin-right: 30px;
}
/* Partie de droite */
#right{
    border-left: 1px solid var(--swatch_4);
    padding: 20px;
}

.right-part1{
    width: min-content;
}

.right-part1 img{
    width: 250px;
    height: 120px;
}